<main>
    <app-heroes-search [(query)]="query"></app-heroes-search>
    <ng-container *ngIf="!loading">
        <div class="hero-card-wrapper">
            <ng-container *ngFor="let hero of heroes">
                <app-hero-card [hero]="hero" [heroes]="heroes"></app-hero-card>
            </ng-container>
        </div>
        <ng-container *ngIf="heroes">
            <app-heroes-pagination [page]="page" [heroesPerPage]="heroesPerPage"></app-heroes-pagination>
        </ng-container>
    </ng-container>
</main>