.delete-hero-popup-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.delete-hero-buttons-wrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1rem;
}