.hero-card{
    width: 100%;
    max-width: 20rem;
    min-height: 39rem;
    max-height: 39rem;
    box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    margin-top: 1.25rem;
    position: relative;
}

.hero-card .hero-card-body-image{
    height: 250px;
    padding-inline: 10px;
}

.hero-card-powerstats-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.hero-card-powerstat-wrapper{
    display: flex;
    align-items: center;
    width: 45%;
}

.hero-card-attribute-title{
    font-weight: bold;
}

h3{
    margin-bottom: 0px;
}

.hero-card-groupAffiliation{
    overflow: hidden;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    max-height: 4.875.rem;
}

mat-card-actions{
    margin-top: auto;
    justify-content: space-around;

}